*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.cont{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.con1 img{
    padding: 5pc;
    padding-top: 5pc;
}

.cont2{
    color: white;
    padding:5pc;
    padding-bottom: 0pc;
}
.cont3{
    color: white;
    font-size: 12pt;
    padding:5pc, 0pc, 5pc, 0pc;
}
.cont4{
    padding: 5pc;
    padding-bottom: 1pc;
}

.abt{
    padding: 5pc;

}

.service{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 5pc;
}

#hea{
    padding: 4pc;
}

.contactus{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 2pc;
}

.portfolio{
padding-top: 4pc;
}

.fr0{
    display: flex;
    justify-content: center;
}

.fr2 ::placeholder{
    color: white;
    float: left;
}
.fr ::placeholder{
    color: white;
}
.fr1 ::placeholder{
    color: white;
}

.socials{
    padding-top: 3pc;
    padding-bottom: 3pc;
    align-content: space-between;
    
}

.see p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;

}
.see1 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}

.see2 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}
.see3 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}
.see4 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}
.see5 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}
.see7 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}
.see7 p{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(163, 66, 9);
    color: white;
    font-size: 24pt;
    border-style: solid;
    height: 10pc;
}

